@import 'mixin';
@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&subset=chinese-traditional');

* {
  font-family: 'Roboto', sans-serif, 'Noto Sans TC';
}
.header {
  background-color: #345;
  padding: 20px;
  color: #fff;
}

.button2 {
  @include button;
}
.button3 {
  @include button;
  color: #000;
  background-color: #aa2;
}
#canvas {
  display: block;
  margin: auto;
  text-align: center;
  background-color: #ddd;
}
.svg-line {
  stroke: #000;
  stroke-width: 2px;
}
.svg-text {
  fill: #000;
  font-size: 24px;
  box-shadow: 2px 2px 0px #ddd;
  
}
#svg-circle1 {
  fill: #345;
  stroke: #900;
  stroke-width: 2px;
}
.withShadow {
  filter: drop-shadow(2px 2px 6px #111);
  &.hover {
    filter: drop-shadow(2px 2px 6px #900);
  }
}

.title {
  fill: #33d;
  font-size: 36px;
  // writing-mode: tb;
}
.grid {
  fill: none;
  stroke: #ddd;
  stroke-width: .5px;
}

#paper {
  width: 842px;
  height: 595px;
}
.stop-passed {
  fill: #fff;
  stroke: #aaa;
  stroke-width: 1px;
}

.stop-normal {
  fill: #fff;
  stroke: #006633;
  stroke-width: 2px;
}

.stop-now {
  fill: #fff;
  stroke: #006633;
  stroke-width: 2px;
}
.stop-now-center {
  fill: #006633;
}
.stopName-passed {
  // font-size: 16px;
  // font-weight: 600;
  writing-mode: tb;
  opacity: .35;
}

.stopName-normal {
  // font-size: 16px;
  // font-weight: 600;
  writing-mode: tb;
}

.stopName-now {
  // font-size: 16px;
  font-weight: 600;
  writing-mode: tb;
  fill: #f00;
}
.routeNumber {
  font-size: 62px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
  vertical-align: top;
  // fill: #fff;
}
.routeNumber,
.stop,
.stop-eng {
  fill: #fff;
}
.bigArrow {
  fill: #000;
}
.qrcode-text {
  font-size: 16px;
}

//Yunlin styles

.fromTo-Yunlin,
.fromTo-Yunlin .routeNumber {
  fill: #fff;
}
.schedule-singleTime {
  fill: #F4EBD2;
}
.schedule-singleTime-text {
  font-size: 13px;
}
.schedule-line {
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 2px;
}
.stopName-withEng,
.stopNameEng-withEng {
  writing-mode: tb; 
}
.stopName-withEng-now,
.stopNameEng-withEng-now,
.stopName-withEng-end,
.stopNameEng-withEng-end {
  fill: #9A2F29
}
.stop-withEng.stop-end {
  stroke: #000;
  stroke-width: 2px;
  fill: #E5B749;
}
.stopName-withEng-end,
.stopName-withEng-now {
  font-weight: bolder;
}
@media print {
  #changeLocation {
    display: none !important;
  }
}
#changeLocation {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 20px #888;
  border-radius: 10px;
  overflow: hidden;
}
#changeLocation h3, 
#changeLocation h4,
#changeLocation p {
  padding: 10px;
  font-family: 'Roboto', sans-serif, 'Noto Sans TC';
}
#changeLocation h3 {
  font-size: 20px;
  background-color: #303054;
  color: #fff;
}
#changeLocation h4 {
  font-size: 18px;
  font-weight: 600;
}
#changeLocation p span {
  background-color: #ff0;
}
#print {
  margin-left: 20px;
}
.location-button.active {
  background-color: #303054;
  color: #fff;
}
.qrcode-nowStop, 
.qrcode-query {
  writing-mode: tb;
}
.qrcode-query {
  font-weight: bold;
  fill: #C66E32;
}
.Yunlin-company-info {
  fill: #fff;
  font-size: 14px;
  letter-spacing: .5px;
}

//ChanHua
.stopName-withEng-down,
.stopNameEng-withEng-down {
  writing-mode: tb;
}
.ChanHua-company-info {
  font-size: 13px;
}
.fromTo-ChanHua,
.fromToEng-ChanHua {
  fill: #fff;
}
.fromTo-ChanHua-description {
  font-size: 16px;
}